*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    transition: all 0.4s, ease;
}
#back{
    width: 100%;
    height: 100vh;
    background-image: url(Baul-3.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
    transition: all 0.4s, ease;
}
.nav{
    width: 90%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    z-index: 10;
}
.name{
    font-family: Dancing Script;
    font-weight: 600;
    font-size: 50px;
    margin: 30px 0;
    cursor: pointer;

}
.user{
    display: flex;
    align-items: center;
}
 i{
    width: 30px;
    margin-left: 50px;
    cursor: pointer;
}
button{
    padding: 8px 25px;
    background: transparent;
    outline: none;
    border: 2px solid white;
    border-radius: 20px;
    font-size: 12px;
    color: white;
    font-weight: bold;
    cursor: pointer;

}
.container{
    width: 50%;
    height: 100vh;
    background: rgba(86,86,86,0.3);
    backdrop-filter: blur(10px);
    position:absolute;
    left: 0;
    top: 0;
}
.info{
    width: 550px;
    color: white;
    position:absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}
.info h2{
    font-size: 60px;
    font-family: Dancing Script;
    font-weight: bold;
    transition: all 0.4s, ease;
}
.info p{
    color: wheat;
    font-size: 11px;
    margin: 20px 0;
    line-height: 18px;

}
.info input{
    width: 50%;
    padding: 8px 10px;
    outline: none;
    border: 2px solid white;
    border-radius: 20px;
    background: transparent;
    color: white;
    font-size: 12px;
}
::placeholder{
    color: white;
}
.slider{
    display: flex;
    align-items: center;
    position: absolute;
    right: 30px;
    bottom: 50px;
}
.fa-solid fa-arrow-right, .fa-solid fa-arrow-left{
    width: 20px;
    cursor: pointer;


}
.preview{
    display: flex;
    align-items: center;
    margin: 0 60px;
}
.preview img{
    width: 60px;
    margin: 0 10px;
    opacity: 0.4;


}
.preview .active{
    display: block;
    border: 3px solid white;
    width: 100px;
    opacity: 1;

}
@media screen and (max-width: 500px) {
    .nav{
        flex-wrap: wrap;
    }
    .name{
        font-size: 20px;
    }
    button{
        font-size: 10px;
    }
    .container{
        width: 100%;
        height: 40%;
        left: 0;
        top: 60%;
        padding: 10%;
    }
    .slider{
        left: 0.5px;
        right: 0.5px;
        bottom: 40%;
        flex-direction: row;
    
    
    }
    .preview{
        margin: 0 10px;
        padding-right: 2px;
        
    }
    .preview img{
        width: 20px;
        margin: 5px;
    }
    .preview i{
        width: 10px;
    }
    .preview .active{
        display: block;
        border: 1.5px solid white;
        width: 30px;
    }
    .info{
        position: relative;
    
    }
    .info h2{
        justify-content: center;
        
        top: 90%;
        font-size: 20px;

    }
.info p{
    justify-self: unset;
    text-wrap: wrap;
}
 .info input{
    align-items: center;
    font-size: 10px;
    width: 20%;
    border-radius: 10px;

}
.fa-solid fa-arrow-right, .fa-solid fa-arrow-left{
    width: 10px;
    cursor: pointer;


}
  
}